[submodule "3rd-module/2023-03-13_webhook-tuning-for-a-chatbot-lesson-2/hw/inno-hw-webhook-lesson-2"]
	path = 3rd-module/2023-03-13_webhook-tuning-for-a-chatbot-lesson-2/hw/inno-hw-webhook-lesson-2
	url = https://github.com/notjik/inno-hw-webhook-lesson-2.git
[submodule "3rd-module/2023-03-20_webhook-tuning-for-a-chatbot-lesson-3/hw/inno-hw-webhook-lesson-3"]
	path = 3rd-module/2023-03-20_webhook-tuning-for-a-chatbot-lesson-3/hw/inno-hw-webhook-lesson-3
	url = https://github.com/notjik/inno-hw-webhook-lesson-3.git
